.main-servicos{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}
.indicativo-pagina{
    width: 100%;
    height: 200px;
    color: #00c5c2;
    background-image: url(../img/Fundo_serviços.png);

    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 600;
}
.servicos-caixa_servicos{
    background-color: #f8f8f8;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
